# Install JoinBoost and databases package.
In this demo, we use duckdb as the database.

In [1]:
%pip install joinboost==0.0.14
%pip install duckdb

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting joinboost==0.0.14
  Downloading joinboost-0.0.14-py3-none-any.whl (18 kB)
Installing collected packages: joinboost
  Attempting uninstall: joinboost
    Found existing installation: joinboost 0.0.13
    Uninstalling joinboost-0.0.13:
      Successfully uninstalled joinboost-0.0.13
Successfully installed joinboost-0.0.14
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: duckdb in /usr/local/lib/python3.7/dist-packages (0.5.1)
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.7/dist-packages (from duckdb) (1.21.6)

# Download data and load data into database.

This step is only necessary for this demo as we don't have existing databases. JoinBoost to directly build models over your databases without data downloading/loading.

In [2]:
import duckdb
import urllib.request
from joinboost.executor import DuckdbExecutor
from joinboost.joingraph import JoinGraph
from joinboost.app import DecisionTree,GradientBoosting

urllib.request.urlretrieve("https://www.dropbox.com/s/kaovdndtevcvt83/holidays.csv?dl=1", "holidays.csv")
urllib.request.urlretrieve("https://www.dropbox.com/s/wh6amz4um7ieyqz/items.csv?dl=1", "items.csv")
urllib.request.urlretrieve("https://www.dropbox.com/s/ze6of1xqwslt8jb/oil.csv?dl=1", "oil.csv")
urllib.request.urlretrieve("https://www.dropbox.com/s/uiojfrc5c20gyrl/sales_small.csv?dl=1", "sales_small.csv")
urllib.request.urlretrieve("https://www.dropbox.com/s/cwy6z0b7rhsnrxb/stores.csv?dl=1", "stores.csv")
urllib.request.urlretrieve("https://www.dropbox.com/s/wwaoga17z70jb6l/train_small.csv?dl=1", "train_small.csv")
urllib.request.urlretrieve("https://www.dropbox.com/s/2bxto9wnetwnvqd/transactions.csv?dl=1", "transactions.csv")

con = duckdb.connect(database=':memory:')
con.execute("CREATE OR REPLACE TABLE holidays AS SELECT * FROM 'holidays.csv';")
con.execute("CREATE OR REPLACE TABLE oil AS SELECT * FROM 'oil.csv';")
con.execute("CREATE OR REPLACE TABLE transactions AS SELECT * FROM 'transactions.csv';")
con.execute("CREATE OR REPLACE TABLE stores AS SELECT * FROM 'stores.csv';")
con.execute("CREATE OR REPLACE TABLE items AS SELECT * FROM 'items.csv';")
con.execute("CREATE OR REPLACE TABLE sales AS SELECT * FROM 'sales_small.csv';")
con.execute("CREATE OR REPLACE TABLE train AS SELECT * FROM 'train_small.csv';")

# Data exploration and Data Transformation
You can use the database SQL queries to show all available tables and their schema. You can perform data transformations over these tables.

In [4]:
con.execute("describe;").df()

,table_name,column_names,column_types,temporary
0,holidays,"[date, f2, htype, locale, locale_name, transfe...","[INTEGER, INTEGER, INTEGER, INTEGER, INTEGER, ...",False
1,items,"[class, f1, family, item_nbr, perishable]","[INTEGER, INTEGER, INTEGER, INTEGER, INTEGER]",False
2,oil,"[date, dcoilwtico, f3]","[INTEGER, INTEGER, INTEGER]",False
3,sales,"[Y, item_nbr, onpromotion, tid, unit_sales]","[DOUBLE, INTEGER, INTEGER, INTEGER, DOUBLE]",False
4,stores,"[city, cluster, f4, state, store_nbr, stype]","[INTEGER, INTEGER, INTEGER, INTEGER, INTEGER, ...",False
5,train,"[Y, city, class, cluster, date, dcoilwtico, f1...","[DOUBLE, INTEGER, INTEGER, INTEGER, INTEGER, I...",False
6,transactions,"[date, f5, store_nbr, tid, transactions]","[INTEGER, INTEGER, INTEGER, INTEGER, INTEGER]",False

# Train Decision Tree using JoinBoost
First, we need to specify the join graph: what are the relations and features you want to use. How these relations are supposed to be join. 

For instance, 
```
dataset.add_join("sales", "items", ["item_nbr"], ["item_nbr"])
```
says the join condition is: sales.item_nbr = items.item_nbr

In [6]:
exe = DuckdbExecutor(con, debug=False)
dataset = JoinGraph(exe=exe)
dataset.add_relation("sales", [], y = 'Y')
dataset.add_relation("holidays", ["htype", "locale", "locale_name", "transferred","f2"])
dataset.add_relation("oil", ["dcoilwtico","f3"])
dataset.add_relation("transactions", ["transactions","f5"])
dataset.add_relation("stores", ["city","state","stype","cluster","f4"])
dataset.add_relation("items", ["family","class","perishable","f1"])
dataset.add_join("sales", "items", ["item_nbr"], ["item_nbr"])
dataset.add_join("sales", "transactions", ["tid"], ["tid"])
dataset.add_join("transactions", "stores", ["store_nbr"], ["store_nbr"])
dataset.add_join("transactions", "holidays", ["date"], ["date"])
dataset.add_join("holidays", "oil", ["date"], ["date"])

depth = 3
reg = DecisionTree(learning_rate=1, max_leaves=2 ** depth, max_depth=depth)

reg.fit(dataset)
reg.compute_rmse('train')[0]

2535.0608391585865

# Train Gradient Boosting using JoinBoost
Next, we train Gradient Boosting of 10 iterations.

As shown, Gradient Boosting further reduces the rmse.

In [7]:
reg = GradientBoosting(learning_rate=1, max_leaves=2 ** depth, max_depth=depth, iteration = 10)
reg.fit(dataset)
reg.compute_rmse('train')[0]

786.8773440907675

# JoinBoost Internals
Internally, JoinBoost translates ML logics into SQL, and execute SQL queries directly in your databases without data movement.

To see these SQL queries, we can enable the debug mode


```
exe = DuckdbExecutor(con, debug=True)
```

such that are SQL queries executed are printed out.

In [9]:
exe = DuckdbExecutor(con, debug=True)
dataset = JoinGraph(exe=exe)
dataset.add_relation("sales", [], y = 'Y')
dataset.add_relation("holidays", ["htype", "locale", "locale_name", "transferred","f2"])
dataset.add_relation("oil", ["dcoilwtico","f3"])
dataset.add_relation("transactions", ["transactions","f5"])
dataset.add_relation("stores", ["city","state","stype","cluster","f4"])
dataset.add_relation("items", ["family","class","perishable","f1"])
dataset.add_join("sales", "items", ["item_nbr"], ["item_nbr"])
dataset.add_join("sales", "transactions", ["tid"], ["tid"])
dataset.add_join("transactions", "stores", ["store_nbr"], ["store_nbr"])
dataset.add_join("transactions", "holidays", ["date"], ["date"])
dataset.add_join("holidays", "oil", ["date"], ["date"])

depth = 3
reg = DecisionTree(learning_rate=1, max_leaves=2 ** depth, max_depth=depth)

reg.fit(dataset)
reg.compute_rmse('train')[0]

PRAGMA table_info(sales)
0.0023736953735351562
PRAGMA table_info(holidays)
0.0009341239929199219
PRAGMA table_info(oil)
0.0002970695495605469
PRAGMA table_info(transactions)
0.00022339820861816406
PRAGMA table_info(stores)
0.0001742839813232422
PRAGMA table_info(items)
0.00014972686767578125
SELECT SUM(Y) AS s, SUM(1) AS c
FROM sales

0.00036025047302246094
CREATE OR REPLACE TABLE joinboost_tmp_0 AS SELECT Y- (-4842.635841853514) AS s, 1 AS c, item_nbr AS item_nbr, tid AS tid
FROM sales

0.0015192031860351562
CREATE OR REPLACE TABLE joinboost_tmp_1 AS SELECT SUM(s) AS s, SUM(c) AS c, joinboost_tmp_0.item_nbr AS item_nbr
FROM joinboost_tmp_0
GROUP BY joinboost_tmp_0.item_nbr

0.0026786327362060547
CREATE OR REPLACE TABLE joinboost_tmp_2 AS SELECT SUM(s) AS s, SUM(c) AS c, joinboost_tmp_0.tid AS tid
FROM joinboost_tmp_0
GROUP BY joinboost_tmp_0.tid

0.00576019287109375
CREATE OR REPLACE TABLE joinboost_tmp_3 AS SELECT SUM(s) AS s, SUM(c) AS c, transactions.store_nbr AS store_nbr
FROM joinboost_tmp_2,transactions
WHERE joinboost_tmp_2.tid IS NOT DISTINCT FROM transactions.tid
GROUP BY transactions.store_nbr

0.006470918655395508
CREATE OR REPLACE TABLE joinboost_tmp_4 AS SELECT SUM(s) AS s, SUM(c) AS c, transactions.date AS date
FROM joinboost_tmp_2,transactions
WHERE joinboost_tmp_2.tid IS NOT DISTINCT FROM transactions.tid
GROUP BY transactions.date

0.007377147674560547
CREATE OR REPLACE TABLE joinboost_tmp_5 AS SELECT SUM(s) AS s, SUM(c) AS c, holidays.date AS date
FROM joinboost_tmp_4,holidays
WHERE joinboost_tmp_4.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.date

0.001680135726928711
SELECT *
FROM (SELECT htype AS htype, CASE WHEN 10000 > c THEN (-(CAST(0 AS DOUBLE)/10000)* 0 + (s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, htype AS htype
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.htype AS htype
FROM joinboost_tmp_4,holidays
WHERE joinboost_tmp_4.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.htype
)
WINDOW joinboost_window AS (ORDER BY htype)
)
ORDER BY criteria DESC
LIMIT 1
)

0.0021278858184814453
SELECT *
FROM (SELECT locale AS locale, CASE WHEN 10000 > c THEN (-(CAST(0 AS DOUBLE)/10000)* 0 + (s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, locale AS locale
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.locale AS locale
FROM joinboost_tmp_4,holidays
WHERE joinboost_tmp_4.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.locale
)
WINDOW joinboost_window AS (ORDER BY locale)
)
ORDER BY criteria DESC
LIMIT 1
)

0.0023300647735595703
SELECT *
FROM (SELECT locale_name AS locale_name, CASE WHEN 10000 > c THEN (-(CAST(0 AS DOUBLE)/10000)* 0 + (s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, locale_name AS locale_name
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.locale_name AS locale_name
FROM joinboost_tmp_4,holidays
WHERE joinboost_tmp_4.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.locale_name
)
WINDOW joinboost_window AS (ORDER BY locale_name)
)
ORDER BY criteria DESC
LIMIT 1
)

0.003187417984008789
SELECT *
FROM (SELECT transferred AS transferred, CASE WHEN 10000 > c THEN (-(CAST(0 AS DOUBLE)/10000)* 0 + (s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, transferred AS transferred
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.transferred AS transferred
FROM joinboost_tmp_4,holidays
WHERE joinboost_tmp_4.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.transferred
)
WINDOW joinboost_window AS (ORDER BY transferred)
)
ORDER BY criteria DESC
LIMIT 1
)

0.0027844905853271484
SELECT *
FROM (SELECT f2 AS f2, CASE WHEN 10000 > c THEN (-(CAST(0 AS DOUBLE)/10000)* 0 + (s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, f2 AS f2
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.f2 AS f2
FROM joinboost_tmp_4,holidays
WHERE joinboost_tmp_4.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.f2
)
WINDOW joinboost_window AS (ORDER BY f2)
)
ORDER BY criteria DESC
LIMIT 1
)

0.0031223297119140625
SELECT *
FROM (SELECT dcoilwtico AS dcoilwtico, CASE WHEN 10000 > c THEN (-(CAST(0 AS DOUBLE)/10000)* 0 + (s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, dcoilwtico AS dcoilwtico
FROM (SELECT SUM(s) AS s, SUM(c) AS c, oil.dcoilwtico AS dcoilwtico
FROM joinboost_tmp_5,oil
WHERE joinboost_tmp_5.date IS NOT DISTINCT FROM oil.date
GROUP BY oil.dcoilwtico
)
WINDOW joinboost_window AS (ORDER BY dcoilwtico)
)
ORDER BY criteria DESC
LIMIT 1
)

0.0021162033081054688
SELECT *
FROM (SELECT f3 AS f3, CASE WHEN 10000 > c THEN (-(CAST(0 AS DOUBLE)/10000)* 0 + (s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, f3 AS f3
FROM (SELECT SUM(s) AS s, SUM(c) AS c, oil.f3 AS f3
FROM joinboost_tmp_5,oil
WHERE joinboost_tmp_5.date IS NOT DISTINCT FROM oil.date
GROUP BY oil.f3
)
WINDOW joinboost_window AS (ORDER BY f3)
)
ORDER BY criteria DESC
LIMIT 1
)

0.0037882328033447266
SELECT *
FROM (SELECT transactions AS transactions, CASE WHEN 10000 > c THEN (-(CAST(0 AS DOUBLE)/10000)* 0 + (s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, transactions AS transactions
FROM (SELECT SUM(s) AS s, SUM(c) AS c, transactions.transactions AS transactions
FROM joinboost_tmp_2,transactions
WHERE joinboost_tmp_2.tid IS NOT DISTINCT FROM transactions.tid
GROUP BY transactions.transactions
)
WINDOW joinboost_window AS (ORDER BY transactions)
)
ORDER BY criteria DESC
LIMIT 1
)

0.004526376724243164
SELECT *
FROM (SELECT f5 AS f5, CASE WHEN 10000 > c THEN (-(CAST(0 AS DOUBLE)/10000)* 0 + (s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, f5 AS f5
FROM (SELECT SUM(s) AS s, SUM(c) AS c, transactions.f5 AS f5
FROM joinboost_tmp_2,transactions
WHERE joinboost_tmp_2.tid IS NOT DISTINCT FROM transactions.tid
GROUP BY transactions.f5
)
WINDOW joinboost_window AS (ORDER BY f5)
)
ORDER BY criteria DESC
LIMIT 1
)

0.0059604644775390625
SELECT *
FROM (SELECT city AS city, CASE WHEN 10000 > c THEN (-(CAST(0 AS DOUBLE)/10000)* 0 + (s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, city AS city
FROM (SELECT SUM(s) AS s, SUM(c) AS c, stores.city AS city
FROM joinboost_tmp_3,stores
WHERE joinboost_tmp_3.store_nbr IS NOT DISTINCT FROM stores.store_nbr
GROUP BY stores.city
)
WINDOW joinboost_window AS (ORDER BY city)
)
ORDER BY criteria DESC
LIMIT 1
)

0.0020852088928222656
SELECT *
FROM (SELECT state AS state, CASE WHEN 10000 > c THEN (-(CAST(0 AS DOUBLE)/10000)* 0 + (s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, state AS state
FROM (SELECT SUM(s) AS s, SUM(c) AS c, stores.state AS state
FROM joinboost_tmp_3,stores
WHERE joinboost_tmp_3.store_nbr IS NOT DISTINCT FROM stores.store_nbr
GROUP BY stores.state
)
WINDOW joinboost_window AS (ORDER BY state)
)
ORDER BY criteria DESC
LIMIT 1
)

0.0018892288208007812
SELECT *
FROM (SELECT stype AS stype, CASE WHEN 10000 > c THEN (-(CAST(0 AS DOUBLE)/10000)* 0 + (s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, stype AS stype
FROM (SELECT SUM(s) AS s, SUM(c) AS c, stores.stype AS stype
FROM joinboost_tmp_3,stores
WHERE joinboost_tmp_3.store_nbr IS NOT DISTINCT FROM stores.store_nbr
GROUP BY stores.stype
)
WINDOW joinboost_window AS (ORDER BY stype)
)
ORDER BY criteria DESC
LIMIT 1
)

0.0018396377563476562
SELECT *
FROM (SELECT cluster AS cluster, CASE WHEN 10000 > c THEN (-(CAST(0 AS DOUBLE)/10000)* 0 + (s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, cluster AS cluster
FROM (SELECT SUM(s) AS s, SUM(c) AS c, stores.cluster AS cluster
FROM joinboost_tmp_3,stores
WHERE joinboost_tmp_3.store_nbr IS NOT DISTINCT FROM stores.store_nbr
GROUP BY stores.cluster
)
WINDOW joinboost_window AS (ORDER BY cluster)
)
ORDER BY criteria DESC
LIMIT 1
)

0.0018768310546875
SELECT *
FROM (SELECT f4 AS f4, CASE WHEN 10000 > c THEN (-(CAST(0 AS DOUBLE)/10000)* 0 + (s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, f4 AS f4
FROM (SELECT SUM(s) AS s, SUM(c) AS c, stores.f4 AS f4
FROM joinboost_tmp_3,stores
WHERE joinboost_tmp_3.store_nbr IS NOT DISTINCT FROM stores.store_nbr
GROUP BY stores.f4
)
WINDOW joinboost_window AS (ORDER BY f4)
)
ORDER BY criteria DESC
LIMIT 1
)

0.0018470287322998047
SELECT *
FROM (SELECT family AS family, CASE WHEN 10000 > c THEN (-(CAST(0 AS DOUBLE)/10000)* 0 + (s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, family AS family
FROM (SELECT SUM(s) AS s, SUM(c) AS c, items.family AS family
FROM joinboost_tmp_1,items
WHERE joinboost_tmp_1.item_nbr IS NOT DISTINCT FROM items.item_nbr
GROUP BY items.family
)
WINDOW joinboost_window AS (ORDER BY family)
)
ORDER BY criteria DESC
LIMIT 1
)

0.0022416114807128906
SELECT *
FROM (SELECT class AS class, CASE WHEN 10000 > c THEN (-(CAST(0 AS DOUBLE)/10000)* 0 + (s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, class AS class
FROM (SELECT SUM(s) AS s, SUM(c) AS c, items.class AS class
FROM joinboost_tmp_1,items
WHERE joinboost_tmp_1.item_nbr IS NOT DISTINCT FROM items.item_nbr
GROUP BY items.class
)
WINDOW joinboost_window AS (ORDER BY class)
)
ORDER BY criteria DESC
LIMIT 1
)

0.002523183822631836
SELECT *
FROM (SELECT perishable AS perishable, CASE WHEN 10000 > c THEN (-(CAST(0 AS DOUBLE)/10000)* 0 + (s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, perishable AS perishable
FROM (SELECT SUM(s) AS s, SUM(c) AS c, items.perishable AS perishable
FROM joinboost_tmp_1,items
WHERE joinboost_tmp_1.item_nbr IS NOT DISTINCT FROM items.item_nbr
GROUP BY items.perishable
)
WINDOW joinboost_window AS (ORDER BY perishable)
)
ORDER BY criteria DESC
LIMIT 1
)

0.0021576881408691406
SELECT *
FROM (SELECT f1 AS f1, CASE WHEN 10000 > c THEN (-(CAST(0 AS DOUBLE)/10000)* 0 + (s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, f1 AS f1
FROM (SELECT SUM(s) AS s, SUM(c) AS c, items.f1 AS f1
FROM joinboost_tmp_1,items
WHERE joinboost_tmp_1.item_nbr IS NOT DISTINCT FROM items.item_nbr
GROUP BY items.f1
)
WINDOW joinboost_window AS (ORDER BY f1)
)
ORDER BY criteria DESC
LIMIT 1
)

0.003574848175048828
CREATE OR REPLACE TABLE joinboost_tmp_6 AS SELECT stores.store_nbr AS store_nbr
FROM stores
WHERE stores.f4 <= 496
GROUP BY stores.store_nbr

0.001127004623413086
CREATE OR REPLACE TABLE joinboost_tmp_7 AS SELECT SUM(s) AS s, SUM(c) AS c, transactions.date AS date
FROM joinboost_tmp_6,joinboost_tmp_2,transactions
WHERE joinboost_tmp_6.store_nbr IS NOT DISTINCT FROM transactions.store_nbr AND joinboost_tmp_2.tid IS NOT DISTINCT FROM transactions.tid
GROUP BY transactions.date

0.0046539306640625
CREATE OR REPLACE TABLE joinboost_tmp_8 AS SELECT SUM(s) AS s, SUM(c) AS c, holidays.date AS date
FROM joinboost_tmp_7,holidays
WHERE joinboost_tmp_7.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.date

0.001667022705078125
CREATE OR REPLACE TABLE joinboost_tmp_9 AS SELECT transactions.tid AS tid
FROM joinboost_tmp_6,transactions
WHERE joinboost_tmp_6.store_nbr IS NOT DISTINCT FROM transactions.store_nbr
GROUP BY transactions.tid

0.009765863418579102
CREATE OR REPLACE TABLE joinboost_tmp_10 AS SELECT SUM(s) AS s, SUM(c) AS c, joinboost_tmp_0.item_nbr AS item_nbr
FROM joinboost_tmp_9,joinboost_tmp_0
WHERE joinboost_tmp_9.tid IS NOT DISTINCT FROM joinboost_tmp_0.tid
GROUP BY joinboost_tmp_0.item_nbr

0.0039064884185791016
CREATE OR REPLACE TABLE joinboost_tmp_11 AS SELECT stores.store_nbr AS store_nbr
FROM stores
WHERE stores.f4 > 496
GROUP BY stores.store_nbr

0.0010635852813720703
CREATE OR REPLACE TABLE joinboost_tmp_12 AS SELECT SUM(s) AS s, SUM(c) AS c, transactions.date AS date
FROM joinboost_tmp_11,joinboost_tmp_2,transactions
WHERE joinboost_tmp_11.store_nbr IS NOT DISTINCT FROM transactions.store_nbr AND joinboost_tmp_2.tid IS NOT DISTINCT FROM transactions.tid
GROUP BY transactions.date

0.004610776901245117
CREATE OR REPLACE TABLE joinboost_tmp_13 AS SELECT SUM(s) AS s, SUM(c) AS c, holidays.date AS date
FROM joinboost_tmp_12,holidays
WHERE joinboost_tmp_12.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.date

0.0019800662994384766
CREATE OR REPLACE TABLE joinboost_tmp_14 AS SELECT transactions.tid AS tid
FROM joinboost_tmp_11,transactions
WHERE joinboost_tmp_11.store_nbr IS NOT DISTINCT FROM transactions.store_nbr
GROUP BY transactions.tid

0.013002157211303711
CREATE OR REPLACE TABLE joinboost_tmp_15 AS SELECT SUM(s) AS s, SUM(c) AS c, joinboost_tmp_0.item_nbr AS item_nbr
FROM joinboost_tmp_14,joinboost_tmp_0
WHERE joinboost_tmp_14.tid IS NOT DISTINCT FROM joinboost_tmp_0.tid
GROUP BY joinboost_tmp_0.item_nbr

0.003286123275756836
SELECT *
FROM (SELECT htype AS htype, CASE WHEN 4626 > c THEN (-(CAST(13439060.470843477 AS DOUBLE)/4626)* 13439060.470843477 + (s/c)*s + (13439060.470843477-s)/(4626-c)*(13439060.470843477-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, htype AS htype
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.htype AS htype
FROM joinboost_tmp_7,holidays
WHERE joinboost_tmp_7.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.htype
)
WINDOW joinboost_window AS (ORDER BY htype)
)
ORDER BY criteria DESC
LIMIT 1
)

0.0021724700927734375
SELECT *
FROM (SELECT locale AS locale, CASE WHEN 4626 > c THEN (-(CAST(13439060.470843477 AS DOUBLE)/4626)* 13439060.470843477 + (s/c)*s + (13439060.470843477-s)/(4626-c)*(13439060.470843477-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, locale AS locale
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.locale AS locale
FROM joinboost_tmp_7,holidays
WHERE joinboost_tmp_7.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.locale
)
WINDOW joinboost_window AS (ORDER BY locale)
)
ORDER BY criteria DESC
LIMIT 1
)

0.001989603042602539
SELECT *
FROM (SELECT locale_name AS locale_name, CASE WHEN 4626 > c THEN (-(CAST(13439060.470843477 AS DOUBLE)/4626)* 13439060.470843477 + (s/c)*s + (13439060.470843477-s)/(4626-c)*(13439060.470843477-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, locale_name AS locale_name
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.locale_name AS locale_name
FROM joinboost_tmp_7,holidays
WHERE joinboost_tmp_7.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.locale_name
)
WINDOW joinboost_window AS (ORDER BY locale_name)
)
ORDER BY criteria DESC
LIMIT 1
)

0.0019664764404296875
SELECT *
FROM (SELECT transferred AS transferred, CASE WHEN 4626 > c THEN (-(CAST(13439060.470843477 AS DOUBLE)/4626)* 13439060.470843477 + (s/c)*s + (13439060.470843477-s)/(4626-c)*(13439060.470843477-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, transferred AS transferred
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.transferred AS transferred
FROM joinboost_tmp_7,holidays
WHERE joinboost_tmp_7.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.transferred
)
WINDOW joinboost_window AS (ORDER BY transferred)
)
ORDER BY criteria DESC
LIMIT 1
)

0.0028297901153564453
SELECT *
FROM (SELECT f2 AS f2, CASE WHEN 4626 > c THEN (-(CAST(13439060.470843477 AS DOUBLE)/4626)* 13439060.470843477 + (s/c)*s + (13439060.470843477-s)/(4626-c)*(13439060.470843477-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, f2 AS f2
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.f2 AS f2
FROM joinboost_tmp_7,holidays
WHERE joinboost_tmp_7.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.f2
)
WINDOW joinboost_window AS (ORDER BY f2)
)
ORDER BY criteria DESC
LIMIT 1
)

0.0036368370056152344
SELECT *
FROM (SELECT dcoilwtico AS dcoilwtico, CASE WHEN 4626 > c THEN (-(CAST(13439060.470843477 AS DOUBLE)/4626)* 13439060.470843477 + (s/c)*s + (13439060.470843477-s)/(4626-c)*(13439060.470843477-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, dcoilwtico AS dcoilwtico
FROM (SELECT SUM(s) AS s, SUM(c) AS c, oil.dcoilwtico AS dcoilwtico
FROM joinboost_tmp_8,oil
WHERE joinboost_tmp_8.date IS NOT DISTINCT FROM oil.date
GROUP BY oil.dcoilwtico
)
WINDOW joinboost_window AS (ORDER BY dcoilwtico)
)
ORDER BY criteria DESC
LIMIT 1
)

0.0024225711822509766
SELECT *
FROM (SELECT f3 AS f3, CASE WHEN 4626 > c THEN (-(CAST(13439060.470843477 AS DOUBLE)/4626)* 13439060.470843477 + (s/c)*s + (13439060.470843477-s)/(4626-c)*(13439060.470843477-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, f3 AS f3
FROM (SELECT SUM(s) AS s, SUM(c) AS c, oil.f3 AS f3
FROM joinboost_tmp_8,oil
WHERE joinboost_tmp_8.date IS NOT DISTINCT FROM oil.date
GROUP BY oil.f3
)
WINDOW joinboost_window AS (ORDER BY f3)
)
ORDER BY criteria DESC
LIMIT 1
)

0.004405498504638672
SELECT *
FROM (SELECT transactions AS transactions, CASE WHEN 4626 > c THEN (-(CAST(13439060.470843477 AS DOUBLE)/4626)* 13439060.470843477 + (s/c)*s + (13439060.470843477-s)/(4626-c)*(13439060.470843477-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, transactions AS transactions
FROM (SELECT SUM(s) AS s, SUM(c) AS c, transactions.transactions AS transactions
FROM joinboost_tmp_6,joinboost_tmp_2,transactions
WHERE joinboost_tmp_6.store_nbr IS NOT DISTINCT FROM transactions.store_nbr AND joinboost_tmp_2.tid IS NOT DISTINCT FROM transactions.tid
GROUP BY transactions.transactions
)
WINDOW joinboost_window AS (ORDER BY transactions)
)
ORDER BY criteria DESC
LIMIT 1
)

0.0064351558685302734
SELECT *
FROM (SELECT f5 AS f5, CASE WHEN 4626 > c THEN (-(CAST(13439060.470843477 AS DOUBLE)/4626)* 13439060.470843477 + (s/c)*s + (13439060.470843477-s)/(4626-c)*(13439060.470843477-s)) ELSE 0 END AS criteria, c AS c, s AS s
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, f5 AS f5
FROM (SELECT SUM(s) AS s, SUM(c) AS c, transactions.f5 AS f5
FROM joinboost_tmp_6,joinboost_tmp_2,transactions
WHERE joinboost_tmp_6.store_nbr IS NOT DISTINCT FROM transactions.store_nbr AND joinboost_tmp_2.tid IS NOT DISTINCT FROM transactions.tid
GROUP BY transactions.f5
)
WINDOW joinboost_window AS (ORDER BY f5)
)
ORDER BY criteria DESC
LIMIT 1
)

0.015939712524414062

2535.0608391585865