# Install JoinBoost and databases package.

To run this demo, you'll need to install the JoinBoost and databases packages. We will use DuckDB as the database in this demo.

In [3]:
%pip install joinboost==0.0.1523
%pip install duckdb

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting joinboost==0.0.1523
  Downloading joinboost-0.0.1523-py3-none-any.whl (117 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 117.8/117.8 kB 2.1 MB/s eta 0:00:00
Installing collected packages: joinboost
Successfully installed joinboost-0.0.1523
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: duckdb in /usr/local/lib/python3.10/dist-packages (0.7.1)

# Download and Load Data into a Database

This step is only Necessary for the Demo as pre-existing databases are unavailable. In general, JoinBoost enables direct model training over databases without data downloading or loading.

In [4]:
# Import required libraries
import duckdb
import urllib.request
from joinboost.executor import DuckdbExecutor
from joinboost.joingraph import JoinGraph
from joinboost.app import DecisionTree, GradientBoosting

# Define URLs
urls = {
    "holidays": "https://www.dropbox.com/s/kaovdndtevcvt83/holidays.csv?dl=1",
    "items": "https://www.dropbox.com/s/wh6amz4um7ieyqz/items.csv?dl=1",
    "oil": "https://www.dropbox.com/s/ze6of1xqwslt8jb/oil.csv?dl=1",
    "sales_small": "https://www.dropbox.com/s/uiojfrc5c20gyrl/sales_small.csv?dl=1",
    "stores": "https://www.dropbox.com/s/cwy6z0b7rhsnrxb/stores.csv?dl=1",
    "train_small": "https://www.dropbox.com/s/wwaoga17z70jb6l/train_small.csv?dl=1",
    "transactions": "https://www.dropbox.com/s/2bxto9wnetwnvqd/transactions.csv?dl=1",
}

# Download files
for name, url in urls.items():
    urllib.request.urlretrieve(url, f"{name}.csv")

# Connect to database
con = duckdb.connect(database=':memory:')

# Create tables
con.execute("CREATE OR REPLACE TABLE holidays AS SELECT * FROM 'holidays.csv';")
con.execute("CREATE OR REPLACE TABLE oil AS SELECT * FROM 'oil.csv';")
con.execute("CREATE OR REPLACE TABLE transactions AS SELECT * FROM 'transactions.csv';")
con.execute("CREATE OR REPLACE TABLE stores AS SELECT * FROM 'stores.csv';")
con.execute("CREATE OR REPLACE TABLE items AS SELECT * FROM 'items.csv';")
con.execute("CREATE OR REPLACE TABLE sales AS SELECT * FROM 'sales_small.csv';")
con.execute("CREATE OR REPLACE TABLE train AS SELECT * FROM 'train_small.csv';")

# Data exploration and Data Transformation

You can use database SQL queries to  perform data transformations over tables.

In [5]:
con.execute("describe;").df()

,table_name,column_names,column_types,temporary
0,holidays,"[date, htype, locale, locale_name, transferred...","[BIGINT, BIGINT, BIGINT, BIGINT, BIGINT, BIGINT]",False
1,items,"[item_nbr, family, class, perishable, f1]","[BIGINT, BIGINT, BIGINT, BIGINT, BIGINT]",False
2,oil,"[date, dcoilwtico, f3]","[BIGINT, BIGINT, BIGINT]",False
3,sales,"[item_nbr, unit_sales, onpromotion, tid, Y]","[BIGINT, DOUBLE, BIGINT, BIGINT, DOUBLE]",False
4,stores,"[store_nbr, city, state, stype, cluster, f4]","[BIGINT, BIGINT, BIGINT, BIGINT, BIGINT, BIGINT]",False
5,train,"[Y, onpromotion, htype, locale, locale_name, t...","[DOUBLE, BIGINT, BIGINT, BIGINT, BIGINT, BIGIN...",False
6,transactions,"[date, store_nbr, transactions, tid, f5]","[BIGINT, BIGINT, BIGINT, BIGINT, BIGINT]",False

# Building a Join Graph

First, you need to specify the join graph, which includes the relations and features you want to use, as well as how these relations should be joined. For example,

```
dataset.add_join("sales", "items", ["item_nbr"], ["item_nbr"])
```
indicates that the join condition between the "sales" and "items" tables is based on the item_nbr attribute, where sales.item_nbr = items.item_nbr. By specifying the join conditions in this manner, you can define how the tables in your dataset are related and should be combined.

In [6]:
exe = DuckdbExecutor(con, debug=False)
dataset = JoinGraph(exe=exe)
dataset.add_relation("sales", [], y = 'Y')
dataset.add_relation("holidays", ["htype", "locale", "locale_name", "transferred","f2"])
dataset.add_relation("oil", ["dcoilwtico","f3"])
dataset.add_relation("transactions", ["transactions","f5"])
dataset.add_relation("stores", ["city","state","stype","cluster","f4"])
dataset.add_relation("items", ["family","class","perishable","f1"])
dataset.add_join("sales", "items", ["item_nbr"], ["item_nbr"])
dataset.add_join("sales", "transactions", ["tid"], ["tid"])
dataset.add_join("transactions", "stores", ["store_nbr"], ["store_nbr"])
dataset.add_join("transactions", "holidays", ["date"], ["date"])
dataset.add_join("holidays", "oil", ["date"], ["date"])

dataset

# Training a Decision Tree with JoinBoost

Once you have defined the join graph, you can train a decision tree over it using JoinBoost.

In [7]:
depth = 3
reg = DecisionTree(learning_rate=1, max_leaves=2 ** depth, max_depth=depth)

reg.fit(dataset)
reg.compute_rmse('train')[0]

joinboost_tmp_76

2535.0608391585865

# Training Gradient Boosting with JoinBoost

After training a decision tree, you can train a Gradient Boosting model with JoinBoost for further improvement. In this example, we train a Gradient Boosting model with 10 iterations.

As demonstrated, Gradient Boosting can further reduce the RMSE.

In [8]:
from joinboost.app import GradientBoosting

# Set the parameters for the Gradient Boosting model
reg = GradientBoosting(learning_rate=1, max_leaves=2 ** depth, max_depth=depth, iteration=10)

# Train the Gradient Boosting model on the dataset
reg.fit(dataset)

# Compute the Root Mean Square Error (RMSE) on the training set
train_rmse = reg.compute_rmse('train')[0]
print("Training RMSE for Gradient Boosting:", train_rmse)

joinboost_tmp_828
Training RMSE for Gradient Boosting: 786.8773440907672

# Exploring JoinBoost Internals

Internally, JoinBoost translates machine learning logic into SQL and executes SQL queries directly in your database without the need for data movement.

To see the SQL queries generated by JoinBoost, you can enable debug mode when creating an executor instance:

In [9]:
# Create SparkExecutor instance with debug mode enabled
exe = DuckdbExecutor(con, debug=True)

dataset = JoinGraph(exe=exe)
dataset.add_relation("sales", [], y = 'Y')
dataset.add_relation("holidays", ["htype", "locale", "locale_name", "transferred","f2"])
dataset.add_relation("oil", ["dcoilwtico","f3"])
dataset.add_relation("transactions", ["transactions","f5"])
dataset.add_relation("stores", ["city","state","stype","cluster","f4"])
dataset.add_relation("items", ["family","class","perishable","f1"])
dataset.add_join("sales", "items", ["item_nbr"], ["item_nbr"])
dataset.add_join("sales", "transactions", ["tid"], ["tid"])
dataset.add_join("transactions", "stores", ["store_nbr"], ["store_nbr"])
dataset.add_join("transactions", "holidays", ["date"], ["date"])
dataset.add_join("holidays", "oil", ["date"], ["date"])

# Set the parameters for the decision tree
depth = 3
reg = DecisionTree(learning_rate=1, max_leaves=2 ** depth, max_depth=depth)

# Train the decision tree on the dataset
reg.fit(dataset)

# Compute the Root Mean Square Error (RMSE) on the training set
train_rmse = reg.compute_rmse('train')[0]
print("Training RMSE:", train_rmse)

PRAGMA table_info(sales)
0.005413532257080078
[(0, 'item_nbr', 'BIGINT', False, None, False), (1, 'unit_sales', 'DOUBLE', False, None, False), (2, 'onpromotion', 'BIGINT', False, None, False), (3, 'tid', 'BIGINT', False, None, False), (4, 'Y', 'DOUBLE', False, None, False)]
PRAGMA table_info(holidays)
0.0008273124694824219
[(0, 'date', 'BIGINT', False, None, False), (1, 'htype', 'BIGINT', False, None, False), (2, 'locale', 'BIGINT', False, None, False), (3, 'locale_name', 'BIGINT', False, None, False), (4, 'transferred', 'BIGINT', False, None, False), (5, 'f2', 'BIGINT', False, None, False)]
PRAGMA table_info(oil)
0.0007359981536865234
[(0, 'date', 'BIGINT', False, None, False), (1, 'dcoilwtico', 'BIGINT', False, None, False), (2, 'f3', 'BIGINT', False, None, False)]
PRAGMA table_info(transactions)
0.0009200572967529297
[(0, 'date', 'BIGINT', False, None, False), (1, 'store_nbr', 'BIGINT', False, None, False), (2, 'transactions', 'BIGINT', False, None, False), (3, 'tid', 'BIGINT', False, None, False), (4, 'f5', 'BIGINT', False, None, False)]
PRAGMA table_info(stores)
0.0008711814880371094
[(0, 'store_nbr', 'BIGINT', False, None, False), (1, 'city', 'BIGINT', False, None, False), (2, 'state', 'BIGINT', False, None, False), (3, 'stype', 'BIGINT', False, None, False), (4, 'cluster', 'BIGINT', False, None, False), (5, 'f4', 'BIGINT', False, None, False)]
PRAGMA table_info(items)
0.0008897781372070312
[(0, 'item_nbr', 'BIGINT', False, None, False), (1, 'family', 'BIGINT', False, None, False), (2, 'class', 'BIGINT', False, None, False), (3, 'perishable', 'BIGINT', False, None, False), (4, 'f1', 'BIGINT', False, None, False)]
SELECT COUNT(*) AS count
FROM ((SELECT item_nbr AS join_key
FROM sales
GROUP BY item_nbr
) EXCEPT (SELECT item_nbr AS join_key
FROM items
GROUP BY item_nbr
))

0.0015935897827148438
[(0,)]
SELECT COUNT(*) AS count
FROM ((SELECT item_nbr AS join_key
FROM items
GROUP BY item_nbr
) EXCEPT (SELECT item_nbr AS join_key
FROM sales
GROUP BY item_nbr
))

0.0018086433410644531
[(920,)]
SELECT MAX(count) AS max_count
FROM (SELECT COUNT(item_nbr) AS count
FROM sales
GROUP BY item_nbr
)

0.0012760162353515625
[(14,)]
SELECT MAX(count) AS max_count
FROM (SELECT COUNT(item_nbr) AS count
FROM items
GROUP BY item_nbr
)

0.0007653236389160156
[(1,)]
SELECT COUNT(*) AS count
FROM ((SELECT tid AS join_key
FROM sales
GROUP BY tid
) EXCEPT (SELECT tid AS join_key
FROM transactions
GROUP BY tid
))

0.018758058547973633
[(0,)]
SELECT COUNT(*) AS count
FROM ((SELECT tid AS join_key
FROM transactions
GROUP BY tid
) EXCEPT (SELECT tid AS join_key
FROM sales
GROUP BY tid
))

0.026367664337158203
[(74219,)]
SELECT MAX(count) AS max_count
FROM (SELECT COUNT(tid) AS count
FROM sales
GROUP BY tid
)

0.0026121139526367188
[(4,)]
SELECT MAX(count) AS max_count
FROM (SELECT COUNT(tid) AS count
FROM transactions
GROUP BY tid
)

0.019703388214111328
[(1,)]
SELECT COUNT(*) AS count
FROM ((SELECT store_nbr AS join_key
FROM transactions
GROUP BY store_nbr
) EXCEPT (SELECT store_nbr AS join_key
FROM stores
GROUP BY store_nbr
))

0.001524209976196289
[(0,)]
SELECT COUNT(*) AS count
FROM ((SELECT store_nbr AS join_key
FROM stores
GROUP BY store_nbr
) EXCEPT (SELECT store_nbr AS join_key
FROM transactions
GROUP BY store_nbr
))

0.0014629364013671875
[(0,)]
SELECT MAX(count) AS max_count
FROM (SELECT COUNT(store_nbr) AS count
FROM transactions
GROUP BY store_nbr
)

0.0013375282287597656
[(1679,)]
SELECT MAX(count) AS max_count
FROM (SELECT COUNT(store_nbr) AS count
FROM stores
GROUP BY store_nbr
)

0.0011360645294189453
[(1,)]
SELECT COUNT(*) AS count
FROM ((SELECT date AS join_key
FROM transactions
GROUP BY date
) EXCEPT (SELECT date AS join_key
FROM holidays
GROUP BY date
))

0.0016057491302490234
[(0,)]
SELECT COUNT(*) AS count
FROM ((SELECT date AS join_key
FROM holidays
GROUP BY date
) EXCEPT (SELECT date AS join_key
FROM transactions
GROUP BY date
))

0.002072572708129883
[(0,)]
SELECT MAX(count) AS max_count
FROM (SELECT COUNT(date) AS count
FROM transactions
GROUP BY date
)

0.0016438961029052734
[(54,)]
SELECT MAX(count) AS max_count
FROM (SELECT COUNT(date) AS count
FROM holidays
GROUP BY date
)

0.0012340545654296875
[(1,)]
SELECT COUNT(*) AS count
FROM ((SELECT date AS join_key
FROM holidays
GROUP BY date
) EXCEPT (SELECT date AS join_key
FROM oil
GROUP BY date
))

0.0013608932495117188
[(0,)]
SELECT COUNT(*) AS count
FROM ((SELECT date AS join_key
FROM oil
GROUP BY date
) EXCEPT (SELECT date AS join_key
FROM holidays
GROUP BY date
))

0.001383066177368164
[(0,)]
SELECT MAX(count) AS max_count
FROM (SELECT COUNT(date) AS count
FROM holidays
GROUP BY date
)

0.0010521411895751953
[(1,)]
SELECT MAX(count) AS max_count
FROM (SELECT COUNT(date) AS count
FROM oil
GROUP BY date
)

0.001026153564453125
[(1,)]
PRAGMA table_info(sales)
0.0008935928344726562
[(0, 'item_nbr', 'BIGINT', False, None, False), (1, 'unit_sales', 'DOUBLE', False, None, False), (2, 'onpromotion', 'BIGINT', False, None, False), (3, 'tid', 'BIGINT', False, None, False), (4, 'Y', 'DOUBLE', False, None, False)]
PRAGMA table_info(holidays)
0.0009236335754394531
[(0, 'date', 'BIGINT', False, None, False), (1, 'htype', 'BIGINT', False, None, False), (2, 'locale', 'BIGINT', False, None, False), (3, 'locale_name', 'BIGINT', False, None, False), (4, 'transferred', 'BIGINT', False, None, False), (5, 'f2', 'BIGINT', False, None, False)]
PRAGMA table_info(oil)
0.0009090900421142578
[(0, 'date', 'BIGINT', False, None, False), (1, 'dcoilwtico', 'BIGINT', False, None, False), (2, 'f3', 'BIGINT', False, None, False)]
PRAGMA table_info(transactions)
0.0010576248168945312
[(0, 'date', 'BIGINT', False, None, False), (1, 'store_nbr', 'BIGINT', False, None, False), (2, 'transactions', 'BIGINT', False, None, False), (3, 'tid', 'BIGINT', False, None, False), (4, 'f5', 'BIGINT', False, None, False)]
PRAGMA table_info(stores)
0.00099945068359375
[(0, 'store_nbr', 'BIGINT', False, None, False), (1, 'city', 'BIGINT', False, None, False), (2, 'state', 'BIGINT', False, None, False), (3, 'stype', 'BIGINT', False, None, False), (4, 'cluster', 'BIGINT', False, None, False), (5, 'f4', 'BIGINT', False, None, False)]
PRAGMA table_info(items)
0.0009784698486328125
[(0, 'item_nbr', 'BIGINT', False, None, False), (1, 'family', 'BIGINT', False, None, False), (2, 'class', 'BIGINT', False, None, False), (3, 'perishable', 'BIGINT', False, None, False), (4, 'f1', 'BIGINT', False, None, False)]
PRAGMA table_info(sales)
0.0010209083557128906
[(0, 'item_nbr', 'BIGINT', False, None, False), (1, 'unit_sales', 'DOUBLE', False, None, False), (2, 'onpromotion', 'BIGINT', False, None, False), (3, 'tid', 'BIGINT', False, None, False), (4, 'Y', 'DOUBLE', False, None, False)]
PRAGMA table_info(holidays)
0.001024007797241211
[(0, 'date', 'BIGINT', False, None, False), (1, 'htype', 'BIGINT', False, None, False), (2, 'locale', 'BIGINT', False, None, False), (3, 'locale_name', 'BIGINT', False, None, False), (4, 'transferred', 'BIGINT', False, None, False), (5, 'f2', 'BIGINT', False, None, False)]
PRAGMA table_info(oil)
0.0009920597076416016
[(0, 'date', 'BIGINT', False, None, False), (1, 'dcoilwtico', 'BIGINT', False, None, False), (2, 'f3', 'BIGINT', False, None, False)]
PRAGMA table_info(transactions)
0.0009908676147460938
[(0, 'date', 'BIGINT', False, None, False), (1, 'store_nbr', 'BIGINT', False, None, False), (2, 'transactions', 'BIGINT', False, None, False), (3, 'tid', 'BIGINT', False, None, False), (4, 'f5', 'BIGINT', False, None, False)]
PRAGMA table_info(stores)
0.0009028911590576172
[(0, 'store_nbr', 'BIGINT', False, None, False), (1, 'city', 'BIGINT', False, None, False), (2, 'state', 'BIGINT', False, None, False), (3, 'stype', 'BIGINT', False, None, False), (4, 'cluster', 'BIGINT', False, None, False), (5, 'f4', 'BIGINT', False, None, False)]
PRAGMA table_info(items)
0.0005431175231933594
[(0, 'item_nbr', 'BIGINT', False, None, False), (1, 'family', 'BIGINT', False, None, False), (2, 'class', 'BIGINT', False, None, False), (3, 'perishable', 'BIGINT', False, None, False), (4, 'f1', 'BIGINT', False, None, False)]
PRAGMA table_info(sales)
0.0005502700805664062
[(0, 'item_nbr', 'BIGINT', False, None, False), (1, 'unit_sales', 'DOUBLE', False, None, False), (2, 'onpromotion', 'BIGINT', False, None, False), (3, 'tid', 'BIGINT', False, None, False), (4, 'Y', 'DOUBLE', False, None, False)]
PRAGMA table_info(holidays)
0.0008697509765625
[(0, 'date', 'BIGINT', False, None, False), (1, 'htype', 'BIGINT', False, None, False), (2, 'locale', 'BIGINT', False, None, False), (3, 'locale_name', 'BIGINT', False, None, False), (4, 'transferred', 'BIGINT', False, None, False), (5, 'f2', 'BIGINT', False, None, False)]
PRAGMA table_info(oil)
0.0008924007415771484
[(0, 'date', 'BIGINT', False, None, False), (1, 'dcoilwtico', 'BIGINT', False, None, False), (2, 'f3', 'BIGINT', False, None, False)]
PRAGMA table_info(transactions)
0.0011050701141357422
[(0, 'date', 'BIGINT', False, None, False), (1, 'store_nbr', 'BIGINT', False, None, False), (2, 'transactions', 'BIGINT', False, None, False), (3, 'tid', 'BIGINT', False, None, False), (4, 'f5', 'BIGINT', False, None, False)]
PRAGMA table_info(stores)
0.0008754730224609375
[(0, 'store_nbr', 'BIGINT', False, None, False), (1, 'city', 'BIGINT', False, None, False), (2, 'state', 'BIGINT', False, None, False), (3, 'stype', 'BIGINT', False, None, False), (4, 'cluster', 'BIGINT', False, None, False), (5, 'f4', 'BIGINT', False, None, False)]
PRAGMA table_info(items)
0.0008769035339355469
[(0, 'item_nbr', 'BIGINT', False, None, False), (1, 'family', 'BIGINT', False, None, False), (2, 'class', 'BIGINT', False, None, False), (3, 'perishable', 'BIGINT', False, None, False), (4, 'f1', 'BIGINT', False, None, False)]
SELECT SUM(Y) AS s, SUM(1) AS c
FROM sales

0.0010852813720703125
[(-48426358.418535136, 10000)]
CREATE OR REPLACE TABLE joinboost_tmp_0 AS SELECT (Y) - (-4842.635841853514) AS s, 1 AS c, tid AS tid, item_nbr AS item_nbr
FROM sales

0.002802133560180664
[(10000,)]
CREATE OR REPLACE TABLE joinboost_tmp_1 AS SELECT SUM(s) AS s, SUM(c) AS c, joinboost_tmp_0.item_nbr AS item_nbr
FROM joinboost_tmp_0
GROUP BY joinboost_tmp_0.item_nbr

0.002659320831298828
[(3114,)]
CREATE OR REPLACE TABLE joinboost_tmp_2 AS SELECT SUM(s) AS s, SUM(c) AS c, joinboost_tmp_0.tid AS tid
FROM joinboost_tmp_0
GROUP BY joinboost_tmp_0.tid

0.005501270294189453
[(9387,)]
CREATE OR REPLACE TABLE joinboost_tmp_3 AS SELECT SUM(s) AS s, SUM(c) AS c, transactions.store_nbr AS store_nbr
FROM joinboost_tmp_2,transactions
WHERE joinboost_tmp_2.tid IS NOT DISTINCT FROM transactions.tid
GROUP BY transactions.store_nbr

0.00438237190246582
[(54,)]
CREATE OR REPLACE TABLE joinboost_tmp_4 AS SELECT SUM(s) AS s, SUM(c) AS c, transactions.date AS date
FROM joinboost_tmp_2,transactions
WHERE joinboost_tmp_2.tid IS NOT DISTINCT FROM transactions.tid
GROUP BY transactions.date

0.004343986511230469
[(1663,)]
CREATE OR REPLACE TABLE joinboost_tmp_5 AS SELECT SUM(s) AS s, SUM(c) AS c, holidays.date AS date
FROM joinboost_tmp_4,holidays
WHERE joinboost_tmp_4.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.date

0.002187967300415039
[(1663,)]
SELECT htype AS htype, CASE WHEN 10000 > c THEN ((s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, htype AS htype
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.htype AS htype
FROM joinboost_tmp_4,holidays
WHERE joinboost_tmp_4.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.htype
)
WINDOW joinboost_window AS (ORDER BY htype)
)
ORDER BY criteria DESC
LIMIT 1

0.0029058456420898438
[(1, 168736812.0120532, 200417.54076663556, 244)]
SELECT locale AS locale, CASE WHEN 10000 > c THEN ((s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, locale AS locale
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.locale AS locale
FROM joinboost_tmp_4,holidays
WHERE joinboost_tmp_4.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.locale
)
WINDOW joinboost_window AS (ORDER BY locale)
)
ORDER BY criteria DESC
LIMIT 1

0.002443552017211914
[(2, 118422426.374113, -117018.44053954785, 9883)]
SELECT locale_name AS locale_name, CASE WHEN 10000 > c THEN ((s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, locale_name AS locale_name
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.locale_name AS locale_name
FROM joinboost_tmp_4,holidays
WHERE joinboost_tmp_4.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.locale_name
)
WINDOW joinboost_window AS (ORDER BY locale_name)
)
ORDER BY criteria DESC
LIMIT 1

0.004143953323364258
[(21, 197631420.37814862, -79397.53141410653, 9968)]
SELECT transferred AS transferred, CASE WHEN 10000 > c THEN ((s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, transferred AS transferred
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.transferred AS transferred
FROM joinboost_tmp_4,holidays
WHERE joinboost_tmp_4.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.transferred
)
WINDOW joinboost_window AS (ORDER BY transferred)
)
ORDER BY criteria DESC
LIMIT 1

0.0028815269470214844
[(1, 466005020.6998564, -170802.10452853085, 9937)]
SELECT f2 AS f2, CASE WHEN 10000 > c THEN ((s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, f2 AS f2
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.f2 AS f2
FROM joinboost_tmp_4,holidays
WHERE joinboost_tmp_4.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.f2
)
WINDOW joinboost_window AS (ORDER BY f2)
)
ORDER BY criteria DESC
LIMIT 1

0.010104894638061523
[(871, 211553954.8437869, -519499.1424813168, 8499)]
SELECT dcoilwtico AS dcoilwtico, CASE WHEN 10000 > c THEN ((s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, dcoilwtico AS dcoilwtico
FROM (SELECT SUM(s) AS s, SUM(c) AS c, oil.dcoilwtico AS dcoilwtico
FROM joinboost_tmp_5,oil
WHERE joinboost_tmp_5.date IS NOT DISTINCT FROM oil.date
GROUP BY oil.dcoilwtico
)
WINDOW joinboost_window AS (ORDER BY dcoilwtico)
)
ORDER BY criteria DESC
LIMIT 1

0.0035681724548339844
[(7, 142183162.96198222, 408489.6917283345, 8642)]
SELECT f3 AS f3, CASE WHEN 10000 > c THEN ((s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, f3 AS f3
FROM (SELECT SUM(s) AS s, SUM(c) AS c, oil.f3 AS f3
FROM joinboost_tmp_5,oil
WHERE joinboost_tmp_5.date IS NOT DISTINCT FROM oil.date
GROUP BY oil.f3
)
WINDOW joinboost_window AS (ORDER BY f3)
)
ORDER BY criteria DESC
LIMIT 1

0.003869771957397461
[(474, 65989715683.674286, 12842936.727770234, 5071)]
SELECT transactions AS transactions, CASE WHEN 10000 > c THEN ((s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, transactions AS transactions
FROM (SELECT SUM(s) AS s, SUM(c) AS c, transactions.transactions AS transactions
FROM joinboost_tmp_2,transactions
WHERE joinboost_tmp_2.tid IS NOT DISTINCT FROM transactions.tid
GROUP BY transactions.transactions
)
WINDOW joinboost_window AS (ORDER BY transactions)
)
ORDER BY criteria DESC
LIMIT 1

0.004686594009399414
[(4, 2852420719.9044833, -1981438.6849245278, 8352)]
SELECT f5 AS f5, CASE WHEN 10000 > c THEN ((s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, f5 AS f5
FROM (SELECT SUM(s) AS s, SUM(c) AS c, transactions.f5 AS f5
FROM joinboost_tmp_2,transactions
WHERE joinboost_tmp_2.tid IS NOT DISTINCT FROM transactions.tid
GROUP BY transactions.f5
)
WINDOW joinboost_window AS (ORDER BY f5)
)
ORDER BY criteria DESC
LIMIT 1

0.0072784423828125
[(554, 69568693129.35388, -13107030.921443088, 5553)]
SELECT city AS city, CASE WHEN 10000 > c THEN ((s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, city AS city
FROM (SELECT SUM(s) AS s, SUM(c) AS c, stores.city AS city
FROM joinboost_tmp_3,stores
WHERE joinboost_tmp_3.store_nbr IS NOT DISTINCT FROM stores.store_nbr
GROUP BY stores.city
)
WINDOW joinboost_window AS (ORDER BY city)
)
ORDER BY criteria DESC
LIMIT 1

0.002306222915649414
[(11, 5140815109.160369, -3502237.0084838388, 3932)]
SELECT state AS state, CASE WHEN 10000 > c THEN ((s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, state AS state
FROM (SELECT SUM(s) AS s, SUM(c) AS c, stores.state AS state
FROM joinboost_tmp_3,stores
WHERE joinboost_tmp_3.store_nbr IS NOT DISTINCT FROM stores.store_nbr
GROUP BY stores.state
)
WINDOW joinboost_window AS (ORDER BY state)
)
ORDER BY criteria DESC
LIMIT 1

0.002176046371459961
[(2, 1130689136.1982622, -932232.0540113177, 839)]
SELECT stype AS stype, CASE WHEN 10000 > c THEN ((s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, stype AS stype
FROM (SELECT SUM(s) AS s, SUM(c) AS c, stores.stype AS stype
FROM joinboost_tmp_3,stores
WHERE joinboost_tmp_3.store_nbr IS NOT DISTINCT FROM stores.store_nbr
GROUP BY stores.stype
)
WINDOW joinboost_window AS (ORDER BY stype)
)
ORDER BY criteria DESC
LIMIT 1

0.0023162364959716797
[(0, 1207307634.5501747, 1423341.0547169037, 2133)]
SELECT cluster AS cluster, CASE WHEN 10000 > c THEN ((s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, cluster AS cluster
FROM (SELECT SUM(s) AS s, SUM(c) AS c, stores.cluster AS cluster
FROM joinboost_tmp_3,stores
WHERE joinboost_tmp_3.store_nbr IS NOT DISTINCT FROM stores.store_nbr
GROUP BY stores.cluster
)
WINDOW joinboost_window AS (ORDER BY cluster)
)
ORDER BY criteria DESC
LIMIT 1

0.0022003650665283203
[(11, 5052737542.110666, -3278383.5630155993, 6931)]
SELECT f4 AS f4, CASE WHEN 10000 > c THEN ((s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, f4 AS f4
FROM (SELECT SUM(s) AS s, SUM(c) AS c, stores.f4 AS f4
FROM joinboost_tmp_3,stores
WHERE joinboost_tmp_3.store_nbr IS NOT DISTINCT FROM stores.store_nbr
GROUP BY stores.f4
)
WINDOW joinboost_window AS (ORDER BY f4)
)
ORDER BY criteria DESC
LIMIT 1

0.002908468246459961
[(496, 72649817168.64633, 13439060.470843477, 4626)]
SELECT family AS family, CASE WHEN 10000 > c THEN ((s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, family AS family
FROM (SELECT SUM(s) AS s, SUM(c) AS c, items.family AS family
FROM joinboost_tmp_1,items
WHERE joinboost_tmp_1.item_nbr IS NOT DISTINCT FROM items.item_nbr
GROUP BY items.family
)
WINDOW joinboost_window AS (ORDER BY family)
)
ORDER BY criteria DESC
LIMIT 1

0.0029044151306152344
[(10, 51642402.53567443, -357519.37758925394, 4501)]
SELECT class AS class, CASE WHEN 10000 > c THEN ((s/c)*s + (0-s)/(10000-c)*(0-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, class AS class
FROM (SELECT SUM(s) AS s, SUM(c) AS c, items.class AS class
FROM joinboost_tmp_1,items
WHERE joinboost_tmp_1.item_nbr IS NOT DISTINCT FROM items.item_nbr
GROUP BY items.class
)
WINDOW joinboost_window AS (ORDER BY class)