# Install JoinBoost and databases package.
To run this demo, you'll need to install the JoinBoost and databases packages. We will use Spark as the database in this demo.

In [1]:
%pip install joinboost==0.0.1523
%pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: joinboost==0.0.1523 in /usr/local/lib/python3.10/dist-packages (0.0.1523)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

# Download and Load Data into a Database

This step is only Necessary for the Demo as pre-existing databases are unavailable. In general, JoinBoost enables direct model training over databases without data downloading or loading.

In [2]:
import urllib.request
from pyspark.sql import SparkSession

# Download the files
urllib.request.urlretrieve("https://www.dropbox.com/s/kaovdndtevcvt83/holidays.csv?dl=1", "holidays.csv")
urllib.request.urlretrieve("https://www.dropbox.com/s/wh6amz4um7ieyqz/items.csv?dl=1", "items.csv")
urllib.request.urlretrieve("https://www.dropbox.com/s/ze6of1xqwslt8jb/oil.csv?dl=1", "oil.csv")
urllib.request.urlretrieve("https://www.dropbox.com/s/uiojfrc5c20gyrl/sales_small.csv?dl=1", "sales_small.csv")
urllib.request.urlretrieve("https://www.dropbox.com/s/cwy6z0b7rhsnrxb/stores.csv?dl=1", "stores.csv")
urllib.request.urlretrieve("https://www.dropbox.com/s/wwaoga17z70jb6l/train_small.csv?dl=1", "train_small.csv")
urllib.request.urlretrieve("https://www.dropbox.com/s/2bxto9wnetwnvqd/transactions.csv?dl=1", "transactions.csv")

# Initialize SparkSession
spark = SparkSession.builder.appName("demo").getOrCreate()

# Read CSV files into Spark DataFrames and create temporary views
spark.read.csv("holidays.csv", header=True, inferSchema=True).createOrReplaceTempView("holidays")
spark.read.csv("items.csv", header=True, inferSchema=True).createOrReplaceTempView("items")
spark.read.csv("oil.csv", header=True, inferSchema=True).createOrReplaceTempView("oil")
spark.read.csv("sales_small.csv", header=True, inferSchema=True).createOrReplaceTempView("sales")
spark.read.csv("stores.csv", header=True, inferSchema=True).createOrReplaceTempView("stores")
spark.read.csv("train_small.csv", header=True, inferSchema=True).createOrReplaceTempView("train")
spark.read.csv("transactions.csv", header=True, inferSchema=True).createOrReplaceTempView("transactions")

# Data exploration and Data Transformation
You can use Spark SQL queries to show all available tables and their schema. You can perform data transformations over these tables.

In [3]:
# List all available tables
tables = spark.catalog.listTables()
for table in tables:
    print(table.name)

# Print the schema for each table
for table in tables:
    print(f"Schema for {table.name}:")
    spark.table(table.name).printSchema()

# Get a sample of sales
sample_sales = spark.sql("SELECT * FROM sales LIMIT 10")
sample_sales.show()

holidays
items
oil
sales
stores
train
transactions
Schema for holidays:
root
 |-- date: integer (nullable = true)
 |-- htype: integer (nullable = true)
 |-- locale: integer (nullable = true)
 |-- locale_name: integer (nullable = true)
 |-- transferred: integer (nullable = true)
 |-- f2: integer (nullable = true)

Schema for items:
root
 |-- item_nbr: integer (nullable = true)
 |-- family: integer (nullable = true)
 |-- class: integer (nullable = true)
 |-- perishable: integer (nullable = true)
 |-- f1: integer (nullable = true)

Schema for oil:
root
 |-- date: integer (nullable = true)
 |-- dcoilwtico: integer (nullable = true)
 |-- f3: integer (nullable = true)

Schema for sales:
root
 |-- item_nbr: integer (nullable = true)
 |-- unit_sales: double (nullable = true)
 |-- onpromotion: integer (nullable = true)
 |-- tid: integer (nullable = true)
 |-- Y: double (nullable = true)

Schema for stores:
root
 |-- store_nbr: integer (nullable = true)
 |-- city: integer (nullable = true)
 |-- state: integer (nullable = true)
 |-- stype: integer (nullable = true)
 |-- cluster: integer (nullable = true)
 |-- f4: integer (nullable = true)

Schema for train:
root
 |-- Y: double (nullable = true)
 |-- onpromotion: integer (nullable = true)
 |-- htype: integer (nullable = true)
 |-- locale: integer (nullable = true)
 |-- locale_name: integer (nullable = true)
 |-- transferred: integer (nullable = true)
 |-- f2: integer (nullable = true)
 |-- date: integer (nullable = true)
 |-- dcoilwtico: integer (nullable = true)
 |-- f3: integer (nullable = true)
 |-- tid: integer (nullable = true)
 |-- transactions: integer (nullable = true)
 |-- f5: integer (nullable = true)
 |-- store_nbr: integer (nullable = true)
 |-- city: integer (nullable = true)
 |-- state: integer (nullable = true)
 |-- stype: integer (nullable = true)
 |-- cluster: integer (nullable = true)
 |-- f4: integer (nullable = true)
 |-- item_nbr: integer (nullable = true)
 |-- family: integer (nullable = true)
 |-- class: integer (nullable = true)
 |-- perishable: integer (nullable = true)
 |-- f1: integer (nullable = true)
 |-- unit_sales: double (nullable = true)

Schema for transactions:
root
 |-- date: integer (nullable = true)
 |-- store_nbr: integer (nullable = true)
 |-- transactions: integer (nullable = true)
 |-- tid: integer (nullable = true)
 |-- f5: integer (nullable = true)

+--------+----------+-----------+-----+-------------------+
|item_nbr|unit_sales|onpromotion|  tid|                  Y|
+--------+----------+-----------+-----+-------------------+
|     451|       4.0|          2|17298| -5739.103112581849|
|    1476|       3.0|          0|69606|  872.3485190238571|
|    2056|       1.0|          0|69653| -7674.674962408274|
|       4|      14.0|          0|82839| 2542.1098731280003|
|    1814|       3.0|          0|56901| -5824.012509244241|
|     522|    35.788|          2| 1694|  -4057.32567323008|
|    2241|       1.0|          0|73802| -10236.57424820753|
|     991|       2.0|          1|78953|-3072.8988510905165|
|    2727|       2.0|          0|33502| -6936.222332066423|
|     802|       2.0|          0|27743|-10618.292559605285|
+--------+----------+-----------+-----+-------------------+


# Building a Join Graph

First, you need to specify the join graph, which includes the relations and features you want to use, as well as how these relations should be joined.
For example,


```
dataset.add_join("sales", "items", ["item_nbr"], ["item_nbr"])
```

indicates that the join condition between the "sales" and "items" tables is based on the item_nbr attribute, where sales.item_nbr = items.item_nbr. By specifying the join conditions in this manner, you can define how the tables in your dataset are related and should be combined.

In [4]:
from joinboost.executor import SparkExecutor
from joinboost.joingraph import JoinGraph

# Create SparkExecutor instance 
exe = SparkExecutor(spark)

# Initialize JoinGraph with the SparkExecutor
dataset = JoinGraph(exe=exe)

# Add relations to the JoinGraph with their features
dataset.add_relation("sales", [], y='Y')
dataset.add_relation("holidays", ["htype", "locale", "locale_name", "transferred", "f2"])
dataset.add_relation("oil", ["dcoilwtico", "f3"])
dataset.add_relation("transactions", ["transactions", "f5"])
dataset.add_relation("stores", ["city", "state", "stype", "cluster", "f4"])
dataset.add_relation("items", ["family", "class", "perishable", "f1"])

# Add join conditions to the JoinGraph
# sales.item_nbr = items.item_nbr
dataset.add_join("sales", "items", ["item_nbr"], ["item_nbr"])
# sales.tid = transactions.tid
dataset.add_join("sales", "transactions", ["tid"], ["tid"])
# transactions.store_nbr = stores.store_nbr
dataset.add_join("transactions", "stores", ["store_nbr"], ["store_nbr"])
# transactions.date = holidays.date
dataset.add_join("transactions", "holidays", ["date"], ["date"])
# holidays.date = oil.date
dataset.add_join("holidays", "oil", ["date"], ["date"])

dataset

# Training a Decision Tree with JoinBoost

Once you have defined the join graph, you can train a decision tree over it using JoinBoost.

In [6]:
from joinboost.app import DecisionTree

# Set the parameters for the decision tree
depth = 3
reg = DecisionTree(learning_rate=1, max_leaves=2 ** depth, max_depth=depth)

# Train the decision tree on the dataset
reg.fit(dataset)

# Compute the Root Mean Square Error (RMSE) on the training set
train_rmse = reg.compute_rmse('train')[0]
print("Training RMSE:", train_rmse)

Training RMSE: 2535.060839158587

# Training Gradient Boosting with JoinBoost

After training a decision tree, you can train a Gradient Boosting model with JoinBoost for further improvement. In this example, we train a Gradient Boosting model with 10 iterations.

As demonstrated, Gradient Boosting can further reduce the RMSE.

In [8]:
from joinboost.app import GradientBoosting

# Set the parameters for the Gradient Boosting model
reg = GradientBoosting(learning_rate=1, max_leaves=2 ** depth, max_depth=depth, iteration=10)

# Train the Gradient Boosting model on the dataset
reg.fit(dataset)

# Compute the Root Mean Square Error (RMSE) on the training set
train_rmse = reg.compute_rmse('train')[0]
print("Training RMSE for Gradient Boosting:", train_rmse)

Training RMSE for Gradient Boosting: 786.8773440907672

# Exploring JoinBoost Internals

Internally, JoinBoost translates machine learning logic into SQL and executes SQL queries directly in your database without the need for data movement.

To see the SQL queries generated by JoinBoost, you can enable debug mode when creating an executor instance:

In [7]:
# Create SparkExecutor instance with debug mode enabled
exe = SparkExecutor(spark, debug=True)

# Initialize JoinGraph with the executor
dataset = JoinGraph(exe=exe)

# Add relations and join conditions as described earlier
dataset.add_relation("sales", [], y='Y')
dataset.add_relation("holidays", ["htype", "locale", "locale_name", "transferred", "f2"])
dataset.add_relation("oil", ["dcoilwtico", "f3"])
dataset.add_relation("transactions", ["transactions", "f5"])
dataset.add_relation("stores", ["city", "state", "stype", "cluster", "f4"])
dataset.add_relation("items", ["family", "class", "perishable", "f1"])
dataset.add_join("sales", "items", ["item_nbr"], ["item_nbr"])
dataset.add_join("sales", "transactions", ["tid"], ["tid"])
dataset.add_join("transactions", "stores", ["store_nbr"], ["store_nbr"])
dataset.add_join("transactions", "holidays", ["date"], ["date"])
dataset.add_join("holidays", "oil", ["date"], ["date"])

# Set the parameters for the decision tree
depth = 3
reg = DecisionTree(learning_rate=1, max_leaves=2 ** depth, max_depth=depth)

# Train the decision tree on the dataset
reg.fit(dataset)

# Compute the Root Mean Square Error (RMSE) on the training set
train_rmse = reg.compute_rmse('train')[0]
print("Training RMSE:", train_rmse)

Streaming output truncated to the last 5000 lines.
+-------------------+---+--------+
|-2523.9350228107196|  1|     148|
| -5114.945259512356|  2|    2142|
| -17303.40289066734|  3|     471|
|  -3982.77144377889|  1|    1591|
| -4670.405934014017|  4|     463|
| 2540.3161527900907|  1|    2659|
|-13903.023418589346|  2|     496|
| 2084.7686805128587|  1|     833|
| -102.3144433702937|  1|    1829|
|   3812.20308713511|  1|    1580|
| -6953.031007789631|  1|    1645|
| -2515.973519282561|  1|    2866|
| 2478.3953426740836|  1|    3175|
| -9856.377730253382|  3|    1088|
| -7192.629214109124|  1|    2122|
|-3778.5422158933607|  1|    1342|
|-15662.887643042312|  3|    1507|
|  2167.326165316411|  1|    2999|
| -5952.213483393995|  3|     623|
| -3415.399713834943|  1|    3179|
+-------------------+---+--------+
only showing top 20 rows

SELECT htype AS htype, CASE WHEN 4626 > c THEN ((s/c)*s + (13439060.470843479-s)/(4626-c)*(13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, htype AS htype
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.htype AS htype
FROM joinboost_tmp_7,holidays
WHERE joinboost_tmp_7.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.htype
)
WINDOW joinboost_window AS (ORDER BY htype)
)
ORDER BY criteria DESC
LIMIT 1

0.02168750762939453
+-----+--------------------+-----------------+---+
|htype|            criteria|                s|  c|
+-----+--------------------+-----------------+---+
|    1|3.910234392919276E10|429343.8198676765|119|
+-----+--------------------+-----------------+---+

SELECT locale AS locale, CASE WHEN 4626 > c THEN ((s/c)*s + (13439060.470843479-s)/(4626-c)*(13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, locale AS locale
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.locale AS locale
FROM joinboost_tmp_7,holidays
WHERE joinboost_tmp_7.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.locale
)
WINDOW joinboost_window AS (ORDER BY locale)
)
ORDER BY criteria DESC
LIMIT 1

0.05697989463806152
+------+--------------------+-----------------+---+
|locale|            criteria|                s|  c|
+------+--------------------+-----------------+---+
|     1|3.905106275720991...|2177649.199440339|724|
+------+--------------------+-----------------+---+

SELECT locale_name AS locale_name, CASE WHEN 4626 > c THEN ((s/c)*s + (13439060.470843479-s)/(4626-c)*(13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, locale_name AS locale_name
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.locale_name AS locale_name
FROM joinboost_tmp_7,holidays
WHERE joinboost_tmp_7.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.locale_name
)
WINDOW joinboost_window AS (ORDER BY locale_name)
)
ORDER BY criteria DESC
LIMIT 1

0.022906780242919922
+-----------+--------------------+--------------------+----+
|locale_name|            criteria|                   s|   c|
+-----------+--------------------+--------------------+----+
|         21|3.913079447957082E10|1.3346870149266029E7|4608|
+-----------+--------------------+--------------------+----+

SELECT transferred AS transferred, CASE WHEN 4626 > c THEN ((s/c)*s + (13439060.470843479-s)/(4626-c)*(13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, transferred AS transferred
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.transferred AS transferred
FROM joinboost_tmp_7,holidays
WHERE joinboost_tmp_7.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.transferred
)
WINDOW joinboost_window AS (ORDER BY transferred)
)
ORDER BY criteria DESC
LIMIT 1

0.020133256912231445
+-----------+--------------------+--------------------+----+
|transferred|            criteria|                   s|   c|
+-----------+--------------------+--------------------+----+
|          1|3.928559844342974E10|1.3237016367131023E7|4589|
+-----------+--------------------+--------------------+----+

SELECT f2 AS f2, CASE WHEN 4626 > c THEN ((s/c)*s + (13439060.470843479-s)/(4626-c)*(13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, f2 AS f2
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.f2 AS f2
FROM joinboost_tmp_7,holidays
WHERE joinboost_tmp_7.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.f2
)
WINDOW joinboost_window AS (ORDER BY f2)
)
ORDER BY criteria DESC
LIMIT 1

0.03277254104614258
+---+--------------------+------------------+---+
| f2|            criteria|                 s|  c|
+---+--------------------+------------------+---+
|128|3.919104171618184E10|1529153.2840263757|624|
+---+--------------------+------------------+---+

SELECT dcoilwtico AS dcoilwtico, CASE WHEN 4626 > c THEN ((s/c)*s + (13439060.470843479-s)/(4626-c)*(13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, dcoilwtico AS dcoilwtico
FROM (SELECT SUM(s) AS s, SUM(c) AS c, oil.dcoilwtico AS dcoilwtico
FROM joinboost_tmp_8,oil
WHERE joinboost_tmp_8.date IS NOT DISTINCT FROM oil.date
GROUP BY oil.dcoilwtico
)
WINDOW joinboost_window AS (ORDER BY dcoilwtico)
)
ORDER BY criteria DESC
LIMIT 1

0.019458532333374023
+----------+--------------------+--------------------+----+
|dcoilwtico|            criteria|                   s|   c|
+----------+--------------------+--------------------+----+
|         8|3.909245252860062...|1.2743530081060432E7|4347|
+----------+--------------------+--------------------+----+

SELECT f3 AS f3, CASE WHEN 4626 > c THEN ((s/c)*s + (13439060.470843479-s)/(4626-c)*(13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, f3 AS f3
FROM (SELECT SUM(s) AS s, SUM(c) AS c, oil.f3 AS f3
FROM joinboost_tmp_8,oil
WHERE joinboost_tmp_8.date IS NOT DISTINCT FROM oil.date
GROUP BY oil.f3
)
WINDOW joinboost_window AS (ORDER BY f3)
)
ORDER BY criteria DESC
LIMIT 1

0.03729653358459473
+---+--------------------+--------------------+----+
| f3|            criteria|                   s|   c|
+---+--------------------+--------------------+----+
|463|6.904685613990591E10|1.2754131196806507E7|2363|
+---+--------------------+--------------------+----+

SELECT transactions AS transactions, CASE WHEN 4626 > c THEN ((s/c)*s + (13439060.470843479-s)/(4626-c)*(13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, transactions AS transactions
FROM (SELECT SUM(s) AS s, SUM(c) AS c, transactions.transactions AS transactions
FROM joinboost_tmp_6,joinboost_tmp_2,transactions
WHERE joinboost_tmp_6.store_nbr IS NOT DISTINCT FROM transactions.store_nbr AND joinboost_tmp_2.tid IS NOT DISTINCT FROM transactions.tid
GROUP BY transactions.transactions
)
WINDOW joinboost_window AS (ORDER BY transactions)
)
ORDER BY criteria DESC
LIMIT 1

0.02431464195251465
+------------+-------------------+-------------------+----+
|transactions|           criteria|                  s|   c|
+------------+-------------------+-------------------+----+
|           3|4.03722320952434E10|1.007983674662842E7|3066|
+------------+-------------------+-------------------+----+

SELECT f5 AS f5, CASE WHEN 4626 > c THEN ((s/c)*s + (13439060.470843479-s)/(4626-c)*(13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, f5 AS f5
FROM (SELECT SUM(s) AS s, SUM(c) AS c, transactions.f5 AS f5
FROM joinboost_tmp_6,joinboost_tmp_2,transactions
WHERE joinboost_tmp_6.store_nbr IS NOT DISTINCT FROM transactions.store_nbr AND joinboost_tmp_2.tid IS NOT DISTINCT FROM transactions.tid
GROUP BY transactions.f5
)
WINDOW joinboost_window AS (ORDER BY f5)
)
ORDER BY criteria DESC
LIMIT 1

0.032624244689941406
+---+--------------------+------------------+----+
| f5|            criteria|                 s|   c|
+---+--------------------+------------------+----+
|557|7.003195532250107E10|1424411.6112285736|2541|
+---+--------------------+------------------+----+

SELECT city AS city, CASE WHEN 4626 > c THEN ((s/c)*s + (13439060.470843479-s)/(4626-c)*(13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, city AS city
FROM (SELECT SUM(s) AS s, SUM(c) AS c, stores.city AS city
FROM joinboost_tmp_3,stores
WHERE stores.f4 <= 496 AND joinboost_tmp_3.store_nbr IS NOT DISTINCT FROM stores.store_nbr
GROUP BY stores.city
)
WINDOW joinboost_window AS (ORDER BY city)
)
ORDER BY criteria DESC
LIMIT 1

0.025646448135375977
+----+--------------------+------------------+---+
|city|            criteria|                 s|  c|
+----+--------------------+------------------+---+
|   0|4.009011927671780...|214708.23139363603|243|
+----+--------------------+------------------+---+

SELECT state AS state, CASE WHEN 4626 > c THEN ((s/c)*s + (13439060.470843479-s)/(4626-c)*(13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, state AS state
FROM (SELECT SUM(s) AS s, SUM(c) AS c, stores.state AS state
FROM joinboost_tmp_3,stores
WHERE stores.f4 <= 496 AND joinboost_tmp_3.store_nbr IS NOT DISTINCT FROM stores.store_nbr
GROUP BY stores.state
)
WINDOW joinboost_window AS (ORDER BY state)
)
ORDER BY criteria DESC
LIMIT 1

0.028387069702148438
+-----+--------------------+--------------------+----+
|state|            criteria|                   s|   c|
+-----+--------------------+--------------------+----+
|   14|4.009011927671780...|1.3224352239449844E7|4383|
+-----+--------------------+--------------------+----+

SELECT stype AS stype, CASE WHEN 4626 > c THEN ((s/c)*s + (13439060.470843479-s)/(4626-c)*(13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, stype AS stype
FROM (SELECT SUM(s) AS s, SUM(c) AS c, stores.stype AS stype
FROM joinboost_tmp_3,stores
WHERE stores.f4 <= 496 AND joinboost_tmp_3.store_nbr IS NOT DISTINCT FROM stores.store_nbr
GROUP BY stores.stype
)
WINDOW joinboost_window AS (ORDER BY stype)
)
ORDER BY criteria DESC
LIMIT 1

0.019922971725463867
+-----+--------------------+-------------------+----+
|stype|            criteria|                  s|   c|
+-----+--------------------+-------------------+----+
|    3|3.980255639139815E10|1.270699825550817E7|4485|
+-----+--------------------+-------------------+----+

SELECT cluster AS cluster, CASE WHEN 4626 > c THEN ((s/c)*s + (13439060.470843479-s)/(4626-c)*(13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, cluster AS cluster
FROM (SELECT SUM(s) AS s, SUM(c) AS c, stores.cluster AS cluster
FROM joinboost_tmp_3,stores
WHERE stores.f4 <= 496 AND joinboost_tmp_3.store_nbr IS NOT DISTINCT FROM stores.store_nbr
GROUP BY stores.cluster
)
WINDOW joinboost_window AS (ORDER BY cluster)
)
ORDER BY criteria DESC
LIMIT 1

0.01500391960144043
+-------+--------------------+-----------------+----+
|cluster|            criteria|                s|   c|
+-------+--------------------+-----------------+----+
|      7|4.002234559869362E10|5622806.178675278|2302|
+-------+--------------------+-----------------+----+

SELECT f4 AS f4, CASE WHEN 4626 > c THEN ((s/c)*s + (13439060.470843479-s)/(4626-c)*(13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, f4 AS f4
FROM (SELECT SUM(s) AS s, SUM(c) AS c, stores.f4 AS f4
FROM joinboost_tmp_3,stores
WHERE stores.f4 <= 496 AND joinboost_tmp_3.store_nbr IS NOT DISTINCT FROM stores.store_nbr
GROUP BY stores.f4
)
WINDOW joinboost_window AS (ORDER BY f4)
)
ORDER BY criteria DESC
LIMIT 1

0.016248464584350586
+---+--------------------+-----------------+----+
| f4|            criteria|                s|   c|
+---+--------------------+-----------------+----+
|166|4.675157946682722E10|8366429.573822367|1871|
+---+--------------------+-----------------+----+

SELECT family AS family, CASE WHEN 4626 > c THEN ((s/c)*s + (13439060.470843479-s)/(4626-c)*(13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, family AS family
FROM (SELECT SUM(s) AS s, SUM(c) AS c, items.family AS family
FROM joinboost_tmp_10,items
WHERE joinboost_tmp_10.item_nbr IS NOT DISTINCT FROM items.item_nbr
GROUP BY items.family
)
WINDOW joinboost_window AS (ORDER BY family)
)
ORDER BY criteria DESC
LIMIT 1

0.019644737243652344
+------+--------------------+-----------------+----+
|family|            criteria|                s|   c|
+------+--------------------+-----------------+----+
|     8|3.910765755425466E10|5098742.650681833|1848|
+------+--------------------+-----------------+----+

SELECT class AS class, CASE WHEN 4626 > c THEN ((s/c)*s + (13439060.470843479-s)/(4626-c)*(13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, class AS class
FROM (SELECT SUM(s) AS s, SUM(c) AS c, items.class AS class
FROM joinboost_tmp_10,items
WHERE joinboost_tmp_10.item_nbr IS NOT DISTINCT FROM items.item_nbr
GROUP BY items.class
)
WINDOW joinboost_window AS (ORDER BY class)
)
ORDER BY criteria DESC
LIMIT 1

0.022624969482421875
+-----+--------------------+-----------------+---+
|class|            criteria|                s|  c|
+-----+--------------------+-----------------+---+
|   22|3.916681069334866E10|2385491.118097749|726|
+-----+--------------------+-----------------+---+

SELECT perishable AS perishable, CASE WHEN 4626 > c THEN ((s/c)*s + (13439060.470843479-s)/(4626-c)*(13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, perishable AS perishable
FROM (SELECT SUM(s) AS s, SUM(c) AS c, items.perishable AS perishable
FROM joinboost_tmp_10,items
WHERE joinboost_tmp_10.item_nbr IS NOT DISTINCT FROM items.item_nbr
GROUP BY items.perishable
)
WINDOW joinboost_window AS (ORDER BY perishable)
)
ORDER BY criteria DESC
LIMIT 1

0.013535261154174805
+----------+--------------------+-------------------+----+
|perishable|            criteria|                  s|   c|
+----------+--------------------+-------------------+----+
|         0|3.904237128860941E10|1.001430178271311E7|3441|
+----------+--------------------+-------------------+----+

SELECT f1 AS f1, CASE WHEN 4626 > c THEN ((s/c)*s + (13439060.470843479-s)/(4626-c)*(13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, f1 AS f1
FROM (SELECT SUM(s) AS s, SUM(c) AS c, items.f1 AS f1
FROM joinboost_tmp_10,items
WHERE joinboost_tmp_10.item_nbr IS NOT DISTINCT FROM items.item_nbr
GROUP BY items.f1
)
WINDOW joinboost_window AS (ORDER BY f1)
)
ORDER BY criteria DESC
LIMIT 1

0.04798388481140137
+---+--------------------+-----------------+----+
| f1|            criteria|                s|   c|
+---+--------------------+-----------------+----+
|592|3.944907881812749E10|6916619.378190666|2615|
+---+--------------------+-----------------+----+

SELECT htype AS htype, CASE WHEN 5374 > c THEN ((s/c)*s + (-13439060.470843479-s)/(5374-c)*(-13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, htype AS htype
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.htype AS htype
FROM joinboost_tmp_12,holidays
WHERE joinboost_tmp_12.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.htype
)
WINDOW joinboost_window AS (ORDER BY htype)
)
ORDER BY criteria DESC
LIMIT 1

0.03693342208862305
+-----+-------------------+-------------------+---+
|htype|           criteria|                  s|  c|
+-----+-------------------+-------------------+---+
|    1|3.36651419773215E10|-228926.27910104085|125|
+-----+-------------------+-------------------+---+

SELECT locale AS locale, CASE WHEN 5374 > c THEN ((s/c)*s + (-13439060.470843479-s)/(5374-c)*(-13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, locale AS locale
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.locale AS locale
FROM joinboost_tmp_12,holidays
WHERE joinboost_tmp_12.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.locale
)
WINDOW joinboost_window AS (ORDER BY locale)
)
ORDER BY criteria DESC
LIMIT 1

0.02119898796081543
+------+--------------------+--------------------+----+
|locale|            criteria|                   s|   c|
+------+--------------------+--------------------+----+
|     2|3.366968915868725E10|-1.336350718939613E7|5321|
+------+--------------------+--------------------+----+

SELECT locale_name AS locale_name, CASE WHEN 5374 > c THEN ((s/c)*s + (-13439060.470843479-s)/(5374-c)*(-13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, locale_name AS locale_name
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.locale_name AS locale_name
FROM joinboost_tmp_12,holidays
WHERE joinboost_tmp_12.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.locale_name
)
WINDOW joinboost_window AS (ORDER BY locale_name)
)
ORDER BY criteria DESC
LIMIT 1

0.041785478591918945
+-----------+--------------------+-------------------+---+
|locale_name|            criteria|                  s|  c|
+-----------+--------------------+-------------------+---+
|          0|3.366829227363492E10|-16945.370618370463| 21|
+-----------+--------------------+-------------------+---+

SELECT transferred AS transferred, CASE WHEN 5374 > c THEN ((s/c)*s + (-13439060.470843479-s)/(5374-c)*(-13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, transferred AS transferred
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.transferred AS transferred
FROM joinboost_tmp_12,holidays
WHERE joinboost_tmp_12.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.transferred
)
WINDOW joinboost_window AS (ORDER BY transferred)
)
ORDER BY criteria DESC
LIMIT 1

0.019907236099243164
+-----------+--------------------+--------------------+----+
|transferred|            criteria|                   s|   c|
+-----------+--------------------+--------------------+----+
|          1|3.365190065813913...|-1.34078184716595...|5348|
+-----------+--------------------+--------------------+----+

SELECT f2 AS f2, CASE WHEN 5374 > c THEN ((s/c)*s + (-13439060.470843479-s)/(5374-c)*(-13439060.470843479-s)) ELSE 0 END AS criteria, s AS s, c AS c
FROM (SELECT SUM(s) OVER joinboost_window  AS s, SUM(c) OVER joinboost_window  AS c, f2 AS f2
FROM (SELECT SUM(s) AS s, SUM(c) AS c, holidays.f2 AS f2
FROM joinboost_tmp_12,holidays
WHERE joinboost_tmp_12.date IS NOT DISTINCT FROM holidays.date
GROUP BY holidays.f2
)
WINDOW joinboost_window AS (ORDER BY f2)
)
ORDER BY criteria DESC
LIMIT 1

0.07740211486816406
+---+--------------------+--------------------+----+
| f2|            criteria|                   s|   c|
+---+--------------------+--------------------+----+
|790|3.371108841016909E10|-1.06013279569244...|4113|
+---+--------------------+--------------------+----+
